html {
    font-size: 100%
}

body {
    margin: 0;
}

div.center-wrapper {
    /* Этот блок занимает 100% экрана и центрирует внутри себя любые элементы*/
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.calculator {
    display: inline-block;
    border: 0.24rem solid black;
    border-radius: 0.1rem;
    background-color: grey;
    padding: 0.4rem;
}

div.calculator td {
    padding: 0;
}

div.calculator td button {
    font-size: 1rem;
    width: 3rem;
    height: 2rem;
    line-height: 2rem;
    max-height: 2rem;
    padding: 0;
    text-align: center;
    vertical-align: text-bottom;
}

div.calculator td button.functional {
    color: darkred;
}

div.calculator td input.result {
    box-sizing: border-box; /* инпут больше не вылазит за пределы контейнера (или делает вид) */
    font-size: 1rem;
    width: 100%;
    text-align: end;
    margin-bottom: 0.5rem;
    background-color: darkolivegreen;
    font-style: oblique;
}

div.button-wrapper {
    margin-bottom: 0.3rem;
    display: flex;

    justify-content: flex-end;

}

div.button-wrapper button#history {
    width: 3rem;
    height: 1.5rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.45rem;
}

div.history {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 12.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.3rem;
    overflow-y: auto;
    max-height: 10rem;
    max-width: 10rem;
}

ul.history-list {
    list-style-type: none;
    text-align: end;
    font-size: 1rem;
    font-weight: bold;
}

ul.history-list li {
    margin: 0.3rem 0.5rem;
}
